html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  margin-bottom: 150px;
}
header {
  background-color: #35424a;
  color: #ffffff;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header .highlight, .active {
  color: #e8491d;
  font-weight: bold;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: #cccccc;
  font-weight: bold;
}
.branding {
  font-family: 'Krona One', sans-serif;
}
.showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  color: #ffffff;
}
.newsletter {
  background-color: #35424a;
  color: #ffffff;
  min-height: 90px;
}
.button_1 {
  background: #e8491d;
  color: #ffffff;
  border: 0;
}
.button_1:hover {
  background: #cccccc;
}
.card-img-top {
  width: 90px;
}
iframe {
  width: 100%;
  height: 315px;
}
footer {
  background-color: #e8491d;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}
footer a {
  color: #ffffff;
  padding: 0 10px;
}
footer a:hover {
  color: #cccccc;
}
.what-we-do, .contact-us {
  background-color: #35424a;
  color: #ffffff;
  padding: 20px;
}
.services li {
  margin: 4px 0;
}
