:root {
  --mainColor1: #35424a;
  --mainColor2: #4eeb84;
  --lightFont: #ffffff;
  --darkFont: #cccccc;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  margin-bottom: 150px;
}
header {
  background-color: var(--mainColor1);
  color: var(--lightFont);
  min-height: 100px;
  border-bottom: var(--mainColor2) 3px solid;
}
header .highlight, .active {
  color: var(--mainColor2);
  font-weight: bold;
}
nav a {
  color: var(--lightFont);
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: var(--darkFont);
  font-weight: bold;
}
.branding {
  font-family: 'Krona One', sans-serif;
}
.showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  color: var(--lightFont);
}
.newsletter {
  background-color: var(--mainColor1);
  color: var(--lightFont);
  min-height: 90px;
}
.button_1 {
  background: var(--mainColor2);
  color: var(--lightFont);
  border: 0;
}
.button_1:hover {
  background: var(--darkFont);
}
.card-img-top {
  width: 90px;
}
iframe {
  width: 100%;
  height: 315px;
}
footer {
  background-color: var(--mainColor2);
  color: var(--lightFont);
  position: absolute;
  bottom: 0;
}
footer a {
  color: var(--lightFont);
  padding: 0 10px;
}
footer a:hover {
  color: var(--darkFont);
}
.what-we-do, .contact-us {
  background-color: var(--mainColor1);
  color: var(--lightFont);
  padding: 20px;
}
.services li {
  margin: 4px 0;
}

/* Media Queries */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  .nav {
    float: right;
  }
}
